<div class="difund-modal-container row">
  <form [formGroup]="form" class="row" style="height: 100%; width: 100%">
    <div class="difund-modal-image column flex">
      <div class="upload-image" (click)="fileInput.click()" [style.backgroundImage]=uploadImg>
        <input #fileInput class="file-chooser" type="file" (change)="onFileChange($event)" id="file-input" name="photo" required/>
      </div>
    </div> 
    <div class="difund-modal-content column flex align-space-between-space-between">
      <div class="row align-space-between-space-between flex">
        <div class="difund-modal-place column form-input">
          <span class="row">
            <strong>Grupo</strong>
            <select formControlName="groups" [value]="groups[0].value">
              <option *ngFor="let g of groups" [value]="g.value">{{g.title}}</option>
            </select>
          </span>
        </div>
        <app-circular-btn icon="close" (click)="close()"></app-circular-btn>
      </div>
      <div class="difund-modal-title column form-input flex">
        <span class="row">
          <label> <strong>Titulo</strong></label>
          <input type="text" formControlName="title" required>
        </span>
      </div>

      <div class="difund-modal-comment flex">
        <textarea name="comment" id="" cols="10" rows="7" formControlName="description" required></textarea>
      </div>
      <div class="send-btn flex" (click)="difuse()">
        Enviar
      </div>
    </div>
  </form>
</div>
