 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
 #map {
   height: 103%;
 }

 .map-container {
   height: 100vh;
   max-height: 100vh;
   width: 100vw;
   position: static;
   z-index: -1000;
 }
