<div class="login-container column">
    <img src="assets/logo.png" alt="" class="logo">
    <form [formGroup]="formulario" action="#" class="rounded">
      <input placeholder="Usuario" formControlName="username">
      <input placeholder="Contraseña" formControlName="password" type="password">
    </form>
    <button class="big-btn login-btn" (click)="checkLogin()">
      <p>Ingresar</p>
      <i class="material-icons text-yellow">arrow_forward</i>
    </button>
    <span class="non-registered">
        ¿No te has registrado? <a href="#" routerLink="/register"> Registrate Ahora.</a>
    </span>
</div>