@import 'variables';

.login-container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    img.logo {
        width: 200px;
        height: auto;
    }
    .non-registered{
        font-weight: 500;
        color: rgba(map-get($colors, text-grey), .6);
        margin-top: 20px;
        display: block;
        a{
          color: rgba(map-get($colors, text-grey), .6);
        }
      }
}