<div class="filter"  [ngClass]="{'active': this.active === true}">
  <div class="column flex">
    <div class="row">
      <div class="column flex">
        <div class="filter-btn shadow" (click)="openFilters()">
          <i class="material-icons text-yellow">filter_list</i>
          Filtrar
        </div>
      </div>
      <div class="column flex" (click)="closeFilters()">
        <app-circular-btn class="close-btn" icon="close" ></app-circular-btn>
      </div>
    </div>
  </div>
  <form [formGroup]="">
    <div class="input-datepicker">
      <label [for]="picker" class="calendar">
        <i class="material-icons" (click)="picker.open()">
          insert_invitation
        </i>
      </label>
      <input [satDatepicker]="picker" required>
      <label [for]="picker" class="input-placeholder">Fecha</label>
      <label [for]="picker" class="arrow_down">
        <i class="material-icons" (click)="picker.open()">
          keyboard_arrow_down
        </i>
      </label>
      <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
    </div>
  </form>
  <div class="filter-emoji-bar">
    <div class="emojis emoji-1">
      <!-- <input type="checkbox" ([ngModel])="feel" name="feels" id="emoji-1" (click)="pickEmoji(1)"> -->
      <input type="checkbox" name="feels" id="emoji-1" (click)="pickEmoji(1)">
      <label for="emoji-1">
        <img src="assets/emojis/1.png" alt="">
      </label>
    </div>
    <div class="emojis emoji-2">
      <input type="checkbox" (click)="pickEmoji(2)" id="emoji-2">
      <label for="emoji-2">
        <img src="assets/emojis/2.png" alt="">
      </label>
    </div>
    <div class="emojis emoji-3">
      <input type="checkbox" (click)="pickEmoji(3)" id="emoji-3">
      <label for="emoji-3">
        <img src="assets/emojis/3.png" alt="">
      </label>
    </div>
    <div class="emojis emoji-4">
      <input type="checkbox" (click)="pickEmoji(4)" id="emoji-4">
      <label for="emoji-4">
        <img src="assets/emojis/4.png" alt="">
      </label>
    </div>
    <div class="emojis emoji-5">
      <input type="checkbox" (click)="pickEmoji(5)" id="emoji-5">
      <label for="emoji-5">
        <img src="assets/emojis/5.png" alt="">
      </label>
    </div>
    <div class="emojis emoji-6">
      <input type="checkbox" (click)="pickEmoji(6)" id="emoji-6">
      <label for="emoji-6">
        <img src="assets/emojis/6.png" alt="">
      </label>
    </div>
  </div>
</div>
