@import 'variables';

.input-datepicker {
  position: relative;
  width: 90%;
  background-color: white;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: $shadow;

  label.input-placeholder {
    align-self: flex-start;
    position: absolute;
    left: 60px;
    font-size: 1em;
    margin: 13px 10px;
    color: #7B7B7B;
    transition: transform .2s ease-in-out;
    pointer-events: none;
  }

  input:focus~label.input-placeholder,
  input:valid~label.input-placeholder {
    transform: translate(-15px, -15px) scale(.7);
  }

  label i.material-icons {
    color: map-get($colors, text-grey);
  }

  label.calendar i.material-icons {
    position: absolute;
    left: 25px;
    top: 20px;
  }

  label.arrow_down i.material-icons {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  input {
    border: none;
    height: 25px;
    width: 80%;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 1em;

    // position: absolute;
    // left: 40px;
    &:focus {
      outline: none;
    }
  }
}

.filter {
  position: fixed;
  bottom: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  pointer-events: none;

  &.active{
      background-color: rgba(#000000, 0.3);
      border-radius: 10px;

      .filter-btn{
          transform: none;
      }

      .close-btn {
          opacity: 1;
          pointer-events: all;   
           }
      .input-datepicker{
          opacity: 1;
          pointer-events: all;  
      }

      .filter-emoji-bar{
        opacity: 1;
        pointer-events: all;  
      }
    
  }

}

.input-datepicker{
    opacity: 0;
    pointer-events: none;
}
.close-btn {
    align-self: flex-end;
    // justify-self: flex-end; 
    margin-bottom: 10px;
    opacity: 0;
    pointer-events: none;
}

.filter-btn {
  background-color: white;
  color: map-get($colors, text-grey);
  width: 130px;
  height: 40px;
  border-radius: 1000px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: solid .5px map-get($colors, light-grey);
  align-self: flex-start;
  transform: translate(-10%,340%);
  pointer-events: all;
  cursor: pointer;

  // justify-self: flex-end;
  i.material-icons {
    margin-right: 10px;
    color: map-get($colors, yellow);
  }
}

.filter-emoji-bar{
  width: 95%;
  max-height: 30px;
  background-color: white;
  border-radius: 1000px;
  z-index: 1000;
  margin-top: 20px;
  padding: 12px;
  opacity: 0;
  margin-bottom: 10px;
  box-shadow: $shadow;
  text-align: center;
  transition: transform 0.5s ease-in-out;

  img{
      width: 80%;
      height: 80%;
  }

  .emojis {
      display: inline-block;
      margin: -1px 10px;
      width: 10%;
      height: 10%;
    }

  input[type=checkbox] {
      visibility: hidden;
      display: none;
      &:checked + label>img {
        border-radius: 1000px;
        box-shadow: 0 0 0 13px rgba(map-get($colors, yellow), 0.5);
        z-index: -10;
      }
  }
}