@import 'variables';
// FOR MODALS
.hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    position:  fixed;
    top: calc(50% - 23vh);
    left: 15%;
    width: 70vw;
    height: 45vh;
    text-align: center;
    z-index: 100;
}

.modal-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.2);
    width:  100%;
    height: 100%;
}
