<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div id="modal-container" class="hidden">
    <div class="modal-wrapper" id="modal-wrapper"></div>
</div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>