@import 'variables';

.detailed-modal-container{
    // border-radius: 10px;
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    // flex-wrap: wrap;

    .detailed-modal-image{
        position: relative;
        background-color: white;
        border-radius: 10px;
        // box-sizing: border-box;
        margin-right: 20px;
        max-width: 45%;
        width: 45%;
        min-width: 45%;
        height: calc(100% - 40px);
        // max-height: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        box-shadow: $shadow;
        .upload-image{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    .detailed-modal-place{
        padding: 10px;
        border-radius: 10px;
        text-align: left;
        width: 75%;
        height: 30px;
        background-color: white;
        box-shadow: $shadow;
        justify-content: center;
        align-items: center;
        strong{
            margin-left: -50px;
            margin-right: 20px;
        }
    }
    .detailed-modal-content{
        height: 100%;
    }
    .detailed-modal-comment{
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        width: 90%;
        height: calc(300px - 30px);
        margin-top: 16px;
        box-shadow: $shadow;
        flex-grow: 3;
    }

    .emoji{
        position: absolute;
        bottom: -6%;
        left: 21%;
        width: 72px;
        height: 72px;
    }
}