<div class="detailed-modal-container row">
  <div class="detailed-modal-image column flex">
    <!-- <img [src]="img" alt="" class="upload-image"> -->
    <div class="upload-image" [style.backgroundImage]="'url(' + img + ')'"></div>
  </div>
  <div class="detailed-modal-content column flex">
    <div class="row align-space-between-space-between flex">
      <div class="detailed-modal-place column">
        <span class="row">
          <strong>Lugar</strong> {{place}}
        </span>
      </div>
      <app-circular-btn class="close-btn" icon="close" (click)="close()"></app-circular-btn>
    </div>
    <div class="detailed-modal-comment">
      {{comment}}
    </div>
    <img [src]="searchEmoji(emoji)" alt="" class="emoji">
  </div>
</div>
