
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-app-primary: mat-palette($mat-indigo);
$web-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$web-app-theme: mat-light-theme($web-app-primary, $web-app-accent, $web-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-app-theme);

/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "~ng-pick-datetime/assets/style/picker.min.css";

// BASE STYLES

// .mx-2{
//     margin-left: 10px;
// }


// Styling select on datepicker
.mat-calendar-body-selected {
    background-color: #FFD300;
    color: white;
}

body, html {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
    
    font-family: 'Roboto', sans-serif;
}

.shadow {
    box-shadow: $shadow;
    transition: box-shadow .4s ease-in-out, transform .3s ease-in-out;
    &:hover {
        box-shadow: 10px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translateY(-3px);
    }
}
// GRID

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex-grow: 1;
}

.align-space-between-space-between {
    align-content: space-between;
    justify-content: space-between;
}

.align-end-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.align-none-end {
    justify-content: flex-end;
}
/* map hover container*/
.preview-container {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.preview-container img {
    width: 95%;
    height: 92%;
    border-radius: 2px;
}

.preview-container:after {
    position: absolute;
    bottom: -6.5%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

form.rounded{
    display: flex;
    flex-direction: column;
    padding: 4vh 30px 20px;
    width: 40%;
    input {
         outline: none;
         border: none;
         border-radius: 10000px;
         height: 8vh;
         max-height: 40px;
         margin-bottom: 20px;
         padding-left: 20px;
         font-weight: 500;
         font-family: 'Roboto', sans-serif;
         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

         &.little {
            max-width: 40%;
         }
    }

}

.big-btn {
    border-radius: 1000px;
    width: 200px;
    height: 50px;
    background-color: white;
    color: map-get($colors, text-grey);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s ease-in-out, transform .2s ease-in-out;
    cursor: pointer;
    
    p{
        margin: 0;
    }

    i.material-icons {
        color: map-get($colors, yellow);
        margin-left: 10px;
    }

    &:hover {
        box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translateY(-3px);
    }
}

.snack-bar button {
    color: map-get($colors, yellow);
}