@import 'variables';

.home-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // padding: 0;
    pointer-events: none;
}

.menu {
    width: auto;
    pointer-events: all;
    margin-top: 10px;
    margin-left: 10px;
    .menu-item{
        min-width: 150px;
        max-height: 20px;
        background-color: white;
        border-radius: 1000px;
        padding:10px 10px;
        text-align: center;
        margin: 0 10px;
        align-self: center;
        font-weight: 500;
        color: map-get($colors, text-grey );
        border: solid .5px map-get($colors, light-grey);
        box-shadow: $shadow;
        cursor: pointer;

        opacity: 0;
        visibility: hidden;
        display: none;

        &.show{
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }
}
app-statistics {
    // position: fixed;
    // right: 20px;
    // top: 80px;
    align-self: flex-end;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.profile-pic {
    pointer-events: all;
    margin: 10px;
    width: 50px;
    height: 50px;
    img.actual-pic {
        width: 100%;
        height: 100%;
        border-radius: 1000px;
    }
}