<app-map [data]="mapData" [filter]="filter"></app-map>
<div class="home-container row">
  <div class="column flex">
    <div class="menu row" [ngClass]="{'activate': this.menuState === 'activate'}">
      <app-circular-btn class="menu-btn" [icon]="menu.icon" (click)="displayMenu()"></app-circular-btn>
      <div class="menu-item shadow" [ngClass]="{'show': this.menuState === 'activate'}" (click)="openDifundir()">Difundir</div>
      <div class="menu-item shadow" [ngClass]="{'show': this.menuState === 'activate'}" (click)="logOut()">Salir</div>
    </div>
    <app-filter (filterCheck)="useFilter($event)" ></app-filter>
  </div>
  <!-- <div class="circular-btn menu-btn">
         <i class="material-icons">menu</i>
    </div> -->
  <div class="column flex align-end">
    <div class="profile-pic">
      <img src="https://appworksinc.com/wp-content/uploads/2013/05/Team-Member-3.jpg" alt="" class="actual-pic">
    </div>
    <app-statistics [datos]="stats"></app-statistics>
  </div>
</div>
