<app-circular-btn class="statistics-btn" icon="bar_chart" (click)="open()"></app-circular-btn>  
<div class="statistics-container">
  <app-circular-btn class="close-btn little" icon="close" (click)="close()"></app-circular-btn>
  <h2>Estadísticas</h2>
  <canvas id="bar_chart" height="250px"></canvas>
</div>
