@import 'variables';

.statistics-btn {
    pointer-events: all;
}

.statistics-container{
    pointer-events: none;
    position: relative;
    height: 50vh;
    width: 300px;
    margin-top: 30px;
    padding: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(100px);
    // transition:  .5s ease-in-out;
    box-shadow: $shadow;

    h2{
        margin-top: 0px;
        color: map-get($colors, text-grey);
    }

    &.active{
        pointer-events: all;
        opacity: 1;
        transform: translateX(0px);
    }

    .close-btn {
        position: absolute;
        top: -20px;
        right: -20px;
    }
 
    #bar_chart{
        height:200px;
    }
}   