<div class="register-container column ">
    <img src="assets/logo.png" alt="" class="logo">
  <h1>Registrate</h1>
  <form [formGroup]="formulario" class="rounded">
    <div class="row space-between-space-between">
      <input style="margin-right: 10px" placeholder="Nombre" class="flex col-6" formControlName="name">
      <input placeholder="Apellido" class="flex col-6" formControlName="lastname">
    </div>
      <input placeholder="Correo Electrónico" formControlName="email">
      <input placeholder="Usuario" formControlName="username">
      <input placeholder="Contraseña" formControlName="password" type="password">
    </form>
    <button class="big-btn" (click)="checkSignUp()">
      <p>Listo</p>
      <i class="material-icons text-yellow">check</i>
    </button>
</div>
