@import 'variables';

.register-container{
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    img.logo {
        width: 200px;
        height: auto;
        margin-bottom: 60px;
    }
}

form {
    width: 50%;
}

.select-input {
    background-color: white;
    border-radius: 1000px;
    padding: 10px 20px;
    height: 30px;
    color: rgba(map-get($colors, text-grey), .8);
    box-shadow: $shadow;
    display: flex;
    align-items: center;

    label{
        font-size: .7em;
        font-weight: 500;
    }
    // justify-content: 
    select {
        box-shadow: none;
        border: none;
        width: 90%;
        border-radius: 0;
        height: 20px;
        background: transparent;
        margin-left: 20px;
        // decora
        &:focus{
            outline: none;
        }
    }
    i.material-icons {
        color: map-get($colors, text-grey);
    }
}

.select-selected:after {
    opacity: 0;
  }