@import 'variables';

.circular-btn {
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: $shadow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s ease-in-out, transform .2s ease-in-out;
    cursor: pointer;
    border: solid .5px map-get($colors, light-grey);
    i.material-icons {
        color: map-get($colors, text-grey);
    }

    &.little {
        transform: scale(.6) !important;
        &:hover{
            // transform: none;
            box-shadow: $shadow;
        }
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translateY(-3px);
    }
}